/* En el body incluyo lo que uiero que sea igual en todas las páginas, ya que todas tienen este css */

body{
    background-image: url(../assets/images/fondo_index.png);/*Imagen de fondo. */
    background-color: rgb(37, 35, 35); /*Color del fondo. */
    color: rgb(240, 236, 231); /*Color del texto para toda la página*/
    

}

/* Estos son las fuentes que voy a utilizar */
@font-face {
    font-family: DancingScript-Bold;
    src: url(../assets/fonts/Dancing_Script/static/DancingScript-Bold.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url(../assets/fonts/Montserrat/Montserrat-Regular.ttf);
}

/* Estilos para todo el container */
.container{
    /* Este margin ajusta todo al centro con espacios arriba y abajo del container */
    margin: 50px auto;
    /* Espacio dentro de la capa arriba y abajo */
    padding-top: 15px;
    padding-bottom: 15px;
    /* Ancho del contenedor */
    width: 1200px;
    /* Fondo de la capa */
    background-image: url(../assets/images/crepus_titulo.jpg);
    background-size: inherit;
    background-position: top;
}
/* En esta capa están los estilos del menú */
.header{
    /* Nivel de transparencia: */
    background-color: rgba(0, 0, 0, 0.804);
    margin-top: 10px;
    /* Fuente y tamaño del texto: */
    font-family: DancingScript-Bold;
    font-variant: small-caps;
    font-size: 1.8rem;
    /* Espacio entre letras y entre palabras */
    letter-spacing: 2px;
    word-spacing: 4px;
    /* Para que salga todo alineado en la parte superior: */
    vertical-align: top;
    text-decoration: none;
}
/* Capa del título principal: */
.titulos {
    /* Tamaño: */
    width: 440px;
    height: 100px;
    /* Espacios fuera y dentro de la capa: */
    margin-top: 20px;
    padding-left: 20px;
    display: inline-block;
    
}
/* Estilo del título en sí */
.titulo{
  
    padding-top: 0px;
    margin-top: 10px;
    
}
/* Capa del menú */
.menu {

    display:inline-block ;
    width: 700px;
    height: 80px;
    margin-top: 30px ;
    padding-bottom: 15px ;
    padding-right: 15px ;
    vertical-align: top;
    text-decoration: none;
}
/* Clase de la lista */
.lista{
    text-decoration: none;
}

/* Texto del enlace. */
.item{
    display:inline-block;
    font-size: 1.1rem ;
    text-align: center;
    width: 140px;
    margin: 5px;
    list-style: none;
    text-decoration: none;
    color: rgb(240, 236, 231);
   
}
/* Con  esta capa creo el dinamismo de que cambie el color de fondo y de la letra cuando paso el ratón por encima. */
.item:hover{
    background-color: rgb(165, 160, 153);
    color: black;
}
/* Estilos para la capa que contiene el main */
.contenido{
    width: 1100px;
    height: 100%;
    margin: 20px auto;
    font-family: Montserrat;
}
/* Aquí modifico el estilo predeterminado de los enlaces  */
a{
    text-decoration: none;
    color: rgb(240, 236, 231);
}

/* Estilos de las secciones */
.section{
    width: 500px;
    height: 100%;
    margin-left: 40px;
    display: inline-block;
    vertical-align: top;
}
/* Titulo de las secciones */
.tit_header{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    text-decoration: underline;
    text-align: center;
    font-variant: small-caps;

}
/* Contenido de las secciones: */
.main_sect{
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

/* Caapa contenedora de la parte sombreada para la foto y el texto */
.sombreado{
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 10px;
    width: 220px;
    height: 400px;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
}
/* Capa contenedora de la imagen */
.contain_img{
    padding-left: 20px;
    width: 180px;
    height: 230px;
    margin: 0% auto;
}
/* Imagen en sí */
.img{
    width: 100%;
    height: 100%;
    /*Para redondear las esquinas de las imágenes*/
    border-radius: 10px; 
   
}
/* Capa del texto: */
.texto{
    text-align: justify;
    padding: 10px;
    margin-bottom:10px;

}
/* Capa contenedora de la tabla: */
.contain_tabla{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    margin:20px 0px;
    font-family: Montserrat;
    padding-bottom: 30px;
}
/* Tabla en sí: */
.table {
    margin-top:30px ;
    border: 2px solid rgb(109, 125, 139);
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    /*Para que le salga un sombreado a la tabla: */
    box-shadow: 5px 5px black; 
}

/* Estilos de las celdas de la tabla */
.table td {
    border: 1px solid rgb(109, 125, 139);
    padding-left: 5px;
    
}
/* Clase de la primera fila de la tabla */
.primera{
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.2rem;
}
/* Footer último con los enlaces: */
.footer{
     width: 95%;
     background-color: rgba(0, 0, 0, 0.7);
     margin:15px 0px;
     text-align: left; 
     font-family: Montserrat;
     padding: 20px 20px;
 }


/* Estilos de los enlaces del final: */
.enlace{
    border-radius: 5px;
    border: 2px solid whitesmoke;
    margin-left: 100px;
}
.enlace:hover{
    background-color: burlywood;
    color: black;
    
}
/* Botón de subir: */
 .subir{
    display: inline-block;
    vertical-align: top;
    border: 2px solid whitesmoke;
    padding: 10px;
    margin:15px;
}
.subir:hover{
    background-color: burlywood;
    border-radius: 10px;
    color: black; 
}